.sinseleccionar div{
	width: 20%;
	margin-bottom: 2%;
	margin-left: 38%;
	background-color: #0c8181;
	color: white;
	height: 20px;
	vertical-align: middle;
}
.sinseleccionar div:hover {
	background-color: #a3e8e8;
}

p {
	text-align: center;
}
.imgsinseleccionar div {
	width: 29%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	background-color: white;
	float: left;
}
.imgsinseleccionar div img{
	width: 96%;
	height: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
}
.imgsinseleccionar div:hover{
	background-color: #0cc2c2;
}
