.foto {
	width: 16%;
	margin-top: 1%;
	margin-left: 5%;
	position: relative;
	vertical-align: middle;
	text-align: center;
	float: left;
}
.nombre {
	font-weight: bold;
	font-family: Verdana;
}

.datos {
	margin-left: 10%;
	font-family: Verdana;
	text-align: left;
	vertical-align: middle;
}
.cuadros {
	margin-left: 35%;
	margin-right: 5%;
	margin-bottom: 1%;
	height: 40px;
	background-color: #0fb87d;
	text-align: center;
}

.cuadros_nombre {
	margin-bottom: 1%;
	height: 80px;
	background-color: #036f48;
	vertical-align: middle;

}

.cuadros_nombre_sec {
	margin-top: 2%;
	margin-bottom: 1%;
	height: 36px;
	background-color: #1f8b64;
	vertical-align: middle;
}

.contenedor {
	text-align:center;
}

.contenedor>span {
	display:inline-block;
	vertical-align:middle;
}

.cuadros p {
	margin-left: 2%;
	font-size: 12px;

}
.datos_especiales {
	margin-top: 5%;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	font-family: "Times New Roman";
}
.cuadros_especiales {
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 5%;
	margin-left: 5%;
	height: 120px;
	background-color: #0fb87d;
}
.cuadros_especiales p {
	margin-left: 2%;
	color: black;
}

.cuadros_especial_extra {
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 5%;
	margin-left: 5%;
	height: 90px;
	background-color: #0fb87d;
}
